<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new intervention form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div th:replace="user-zone/fragments/header :: header">
    </div>
</header>
<form action="#" th:action="@{/customers/customer-details/add-new-intervention}" th:object="${intervention}"
      method="post">
    <div class="row g-3 mx-5 my-2">
        <input type="hidden" th:field="*{id}" id="id">
        <input type="hidden" id="customerId" name="customerId" th:value="${customerId}">
        <div class="col-md-auto">
            <label>Machine</label>
            <select name="machine">
                <option value="" disabled selected>Select your option</option>
                <option th:each="m : ${machines}" th:value="${m.serialNumber}" th:field="*{inquiry.machine}"
                        th:text="${m.type.name}+' '+${m.serialNumber}"></option>
            </select>
        </div>
        <div class="col-md-auto">
            <label class="form-label">Inquiry</label>
            <select name="inquiry" th:field="*{inquiry}">
                <th:block th:each="m : ${machines}">
                    <option value="" disabled selected>Select your option</option>
                    <option th:each="i : ${m.inquiryList}" th:if="${i.active == true}" th:value="${i.id}"
                            th:text="${i.id + ' ' + i.inquiryType}" th:class="${m.serialNumber}"></option>
                </th:block>
            </select>
            <span th:if="${#fields.hasErrors('inquiry')}" th:errors="*{inquiry}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label>Main technician</label>
            <select th:field="*{technician}">
                <option value="" disabled selected>Select your option</option>
                <option th:each="s : ${service}" th:value="${s.id}"
                        th:text="${s.firstName + ' ' + s.lastName}"></option>
            </select>
            <span th:if="${#fields.hasErrors('technician')}" th:errors="*{technician}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label>Assisting user</label>
            <select th:field="*{assistant}">
                <option value="" selected>Select your option</option>
                <option th:each="s : ${service}" th:value="${s.id}"
                        th:text="${s.firstName + ' ' + s.lastName}"></option>
            </select>
            <span th:if="${#fields.hasErrors('assistant')}" th:errors="*{assistant}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label>Assisting user</label>
            <select th:field="*{assistant2}">
                <option value="" selected>Select your option</option>
                <option th:each="s : ${service}" th:value="${s.id}"
                        th:text="${s.firstName + ' ' + s.lastName}"></option>
            </select>
            <span th:if="${#fields.hasErrors('assistant2')}" th:errors="*{assistant2}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label for="start" class="form-label">Intervention start</label>
            <input type="datetime-local" th:field="*{start}" class="form-control" id="start"
                   placeholder="Event start">
            <span th:if="${#fields.hasErrors('start')}" th:errors="*{start}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label for="end" class="form-label">Intervention end</label>
            <input type="datetime-local" th:field="*{end}" class="form-control" id="end"
                   placeholder="Event end">
            <span th:if="${#fields.hasErrors('end')}" th:errors="*{end}" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
            <label>Spare parts</label>
            <select th:field="*{spareParts}">
                <option th:value="true">YES</option>
                <option th:value="false">NO</option>
            </select>
        </div>
        <div class="col-md-a">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </div>
</form>
<script>
    var inquiry = $("[name=inquiry] option").detach()
    $("[name=machine]").change(function() {
        var val = $(this).val()
        $("[name=inquiry] option").detach()
        inquiry.filter("." + val).clone().appendTo("[name=inquiry]")
    }).change()
</script>
</body>
</html>