<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/tooltip.css}" rel="stylesheet"/>
    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}" rel="stylesheet"></link>
    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.print.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.print.css}" rel="stylesheet" media="print"></link>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
            th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" type="text/javascript"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"
            th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: Date.now(),
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: {
                    url: '/events?customerId=' + [[${customer.id}]],
                    type: 'GET',
                    error: function () {
                        alert('there was an error while fetching events!');
                    },
                }
            });
        });
    </script>

</head>
<body>
<header>
    <div th:replace="user-zone/fragments/header :: header">
    </div>
</header>

<div class="container-fluid mt-2">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.name}">
                            </div>
                            <div class="col-sm-4">
                                <h6 class="mb-0">Tax code</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.taxCode}"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-8 text-secondary"
                                 th:text="${customer.province + ' ' + customer.zipCode + ' ' + customer.city + ', ' + customer.street + ' ' + customer.streetNumber}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.email}"></div>
                            <div class="col-sm-4">
                                <h6 class="mb-0">Web page</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.webPage}"></div>
                            <div class="col-sm-4">
                                <h6 class="mb-0">Phone number</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.phoneNumber}"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Categories</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                <ul th:each="category : ${customer.categoryList}">
                                    <li th:text="${category.name}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Service priority</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${customer.servicePriority}"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <form th:action="@{/customers/customer-details/edit-customer}" method="get">
                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                    <input type="submit" value="Edit" class="btn btn-danger btn-sm">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="max-width: 100%; overflow-y: auto">
                        <div class="row mb-3">
                            <div class="col-auto me-auto">
                                <h6>Contacts</h6>
                            </div>
                            <div class="col-auto">
                                <form th:action="@{/customers/customer-details/add-new-contact}" method="get">
                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                    <input type="submit" value="Add new contact" class="btn btn-danger btn-sm">
                                </form>
                            </div>
                        </div>
                        <table class="table table-sm table-hover table-dark table-bordered text-center">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <a>Name</a>
                                </th>
                                <th scope="col">
                                    <a>E-mail</a>
                                </th>
                                <th scope="col">
                                    <a>Mobile</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="contact, i : ${customer.contactPersonList}"
                                th:if="${i.index}<6" th:style="${contact.active} == false ? 'color: grey' : ''">
                                <td th:text="${contact.firstName + ' ' + contact.lastName}"></td>
                                <td th:text="${contact.email}"></td>
                                <td th:text="${contact.mobilePhoneNumber}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row mt-3">
                            <div class="col-auto me-auto">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#contactModal">
                                    More
                                </button>
                            </div>
                            <div class="col-auto">
                                <a th:text="'All contacts: ' + ${#lists.size(customer.contactPersonList)}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="contactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="contactModalLabel">All contacts</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-hover table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <a>First name</a>
                                    </th>
                                    <th scope="col">
                                        <a>Last name</a>
                                    </th>
                                    <th scope="col">
                                        <a>Position</a>
                                    </th>
                                    <th scope="col">
                                        <a>Stationary phone number</a>
                                    </th>
                                    <th scope="col">
                                        <a>Mobile</a>
                                    </th>
                                    <th scope="col">
                                        <a>E-mail</a>
                                    </th>
                                    <th scope="col">
                                        <a>Profile</a>
                                    </th>
                                    <th scope="col">
                                        <a>Update date</a>
                                    </th>
                                    <th scope="col">
                                        <a>Modifier</a>
                                    </th>
                                    <th scope="col">
                                        Active
                                    </th>
                                    <th scope="col">
                                        Edit
                                    </th>
                                    <th scope="col">
                                        Disable
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="contact : ${customer.contactPersonList}"
                                    th:style="${contact.active} == false ? 'color: grey' : ''">
                                    <td th:text="${contact.firstName}"></td>
                                    <td th:text="${contact.lastName}"></td>
                                    <td th:text="${contact.position}"></td>
                                    <td th:text="${contact.stationaryPhoneNumber}"></td>
                                    <td th:text="${contact.mobilePhoneNumber}"></td>
                                    <td th:text="${contact.email}"></td>
                                    <td th:text="${contact.profile}"></td>
                                    <td th:text="${contact.updateDate}"></td>
                                    <td th:text="${contact.modifier.nickname}"></td>
                                    <td th:text="${contact.active}"></td>
                                    <td>
                                        <form th:action="@{/customers/customer-details/edit-contact}" method="get">
                                            <input type="hidden" name="contactId" th:value="${contact.id}"/>
                                            <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                            <input type="submit" value="Edit" class="btn btn-danger btn-sm">
                                        </form>
                                    </td>
                                    <td>
                                        <div th:if="${contact.active eq true}">
                                            <form th:action="@{/customers/customer-details/disable-contact}"
                                                  method="post">
                                                <input type="hidden" name="contactId" th:value="${contact.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Disable" class="btn btn-danger btn-sm"
                                                       th:data-disable-contact="|Please confirm disabling contact: ${contact.firstName} ${contact.lastName} ${contact.email}|"
                                                       onclick="if (!confirm(this.getAttribute('data-disable-contact'))) return false"/>
                                            </form>
                                        </div>
                                        <div th:if="${contact.active eq false}">
                                            <form th:action="@{/customers/customer-details/activate-contact}"
                                                  method="post">
                                                <input type="hidden" name="contactId" th:value="${contact.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Activate" class="btn btn-danger btn-sm"
                                                       th:data-activate-contact="|Please confirm activating contact: ${contact.firstName} ${contact.lastName} ${contact.email}|"
                                                       onclick="if (!confirm(this.getAttribute('data-activate-contact'))) return false"/>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body" style="max-width: 100%; overflow-y: auto">
                            <div class="row mb-3">
                                <div class="col-auto me-auto">
                                    <h6>Service inquiries</h6>
                                </div>
                                <div class="col-auto">
                                    <form th:action="@{/customers/customer-details/add-new-inquiry}" method="get">
                                        <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                        <input type="submit" value="Add new inquiry" class="btn btn-danger btn-sm">
                                    </form>
                                </div>
                            </div>
                            <table class="table table-sm table-hover table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <a>Id</a>
                                    </th>
                                    <th scope="col">
                                        <a>Machine</a>
                                    </th>
                                    <th scope="col">
                                        <a>Serial number</a>
                                    </th>
                                    <th scope="col">
                                        <a>Status</a>
                                    </th>
                                    <th scope="col">
                                        <a>Type</a>
                                    </th>
                                    <th scope="col">
                                        <a>Inquiry date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody th:each="machine : ${customer.machineList}">
                                <tr th:each="inquiry, i : ${machine.inquiryList}"
                                    th:style="${inquiry.active} == false ? 'color: grey' : ''"
                                    th:if="${i.index}<6">
                                    <td th:text="${inquiry.id}"></td>
                                    <td th:text="${machine.type.name}"></td>
                                    <td th:text="${machine.serialNumber}"></td>
                                    <td th:text="${inquiry.machineStatus}"></td>
                                    <td th:text="${inquiry.inquiryType}"></td>
                                    <td th:text="${inquiry.inquiryDate}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row mt-3">
                                <div class="col-auto me-auto">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#inquiryModal">
                                        More
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <a th:text="'All inquiries: ' + ${countInquiries}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="inquiryModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="inquiryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="inquiryModalLabel">All inquiries</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-sm table-hover table-dark table-bordered text-center w-100">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <a>Id</a>
                                        </th>
                                        <th scope="col">
                                            <a>Machine</a>
                                        </th>
                                        <th scope="col">
                                            <a>Serial number</a>
                                        </th>
                                        <th scope="col">
                                            <a>Status</a>
                                        </th>
                                        <th scope="col">
                                            <a>Type</a>
                                        </th>
                                        <th scope="col">
                                            <a>Inquiry date</a>
                                        </th>
                                        <th scope="col">
                                            <a>Description</a>
                                        </th>
                                        <th scope="col">
                                            <a>Active</a>
                                        </th>
                                        <th scope="col">
                                            <a>Edit</a>
                                        </th>
                                        <th scope="col">
                                            <a>Details</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tbody th:each="machine : ${customer.machineList}">
                                    <tr th:each="inquiry : ${machine.inquiryList}"
                                        th:style="${inquiry.active} == false ? 'color: grey' : ''">
                                        <td th:text="${inquiry.id}"></td>
                                        <td th:text="${machine.type.name}"></td>
                                        <td th:text="${machine.serialNumber}"></td>
                                        <td th:text="${inquiry.machineStatus}"></td>
                                        <td th:text="${inquiry.inquiryType}"></td>
                                        <td th:text="${inquiry.inquiryDate}"></td>
                                        <td th:text="${inquiry.description}"
                                            style="max-width:100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis"
                                            th:title="${inquiry.description}"></td>
                                        <td th:text="${inquiry.active}"></td>
                                        <td>
                                            <form th:action="@{/customers/customer-details/edit-inquiry}" method="get">
                                                <input type="hidden" name="inquiryId" th:value="${inquiry.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Edit" class="btn btn-danger btn-sm">
                                            </form>
                                        </td>
                                        <td>
                                            <form th:action="@{/customers/customer-details/inquiry-details}"
                                                  method="get">
                                                <input type="hidden" name="inquiryId" th:value="${inquiry.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Details" class="btn btn-danger btn-sm">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Calendar</h6>
                            <div id='calendar' th:id="calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Map</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body" style="max-width: 100%; overflow-y: auto">
                            <div class="row mb-3">
                                <div class="col-auto me-auto">
                                    <h6>Machines</h6>
                                </div>
                                <div class="col-auto">
                                    <form th:action="@{/customers/customer-details/add-new-machine}" method="get">
                                        <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                        <input type="submit" value="Add new machine" class="btn btn-danger btn-sm">
                                    </form>
                                </div>
                            </div>
                            <table class="table table-sm table-hover table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <a>Type</a>
                                    </th>
                                    <th scope="col">
                                        <a>Manufacturer</a>
                                    </th>
                                    <th scope="col">
                                        <a>Serial number</a>
                                    </th>
                                    <th scope="col">
                                        <a>Warranty</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <tr th:each="machine,i : ${customer.machineList}"
                                    th:style="${machine.active} == false ? 'color: grey' : ''"
                                    th:if="${i.index}<6">
                                    <td th:text="${machine.type.name}"></td>
                                    <td th:text="${machine.type.manufacturer.name}"></td>
                                    <td th:text="${machine.serialNumber}"></td>
                                    <td>
                                        <span th:if="${machine.warrantyEndDate == null}">NO</span>
                                        <div th:unless="${machine.warrantyEndDate == null}">
                                            <div th:switch="${machine.warrantyEndDate.before(#dates.createNow())}">
                                                <span th:case="true">NO</span>
                                                <span th:case="false">YES</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#machineModal">
                                More
                            </button>
                            <div class="col-auto">
                                <a th:text="'All machines: ' + ${#lists.size(customer.machineList)}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="machineModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="machineModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="machineModalLabel">All machines</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-sm table-hover table-dark table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <a>Type</a>
                                        </th>
                                        <th scope="col">
                                            <a>Manufacturer</a>
                                        </th>
                                        <th scope="col">
                                            <a>Serial number</a>
                                        </th>
                                        <th scope="col">
                                            <a>Warranty start</a>
                                        </th>
                                        <th scope="col">
                                            <a>Warranty end</a>
                                        </th>
                                        <th scope="col">
                                            <a>Service priority</a>
                                        </th>
                                        <th scope="col">
                                            <a>Active</a>
                                        </th>
                                        <th scope="col">
                                            <a>Open inquiries</a>
                                        </th>
                                        <th scope="col">
                                            <a>Edit</a>
                                        </th>
                                        <th scope="col">
                                            <a>Disable</a>
                                        </th>
                                        <th scope="col">
                                            <a>Details</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="machine : ${customer.machineList}"
                                        th:style="${machine.active} == false ? 'color: grey' : ''">
                                        <td th:text="${machine.type.name}"></td>
                                        <td th:text="${machine.type.manufacturer.name}"></td>
                                        <td th:text="${machine.serialNumber}"></td>
                                        <td th:text="${machine.warrantyStartDate}"></td>
                                        <td th:text="${machine.warrantyEndDate}"></td>
                                        <td th:text="${machine.servicePriority}"></td>
                                        <td th:text="${machine.active}"></td>
                                        <td th:text="${#lists.size(machine.inquiryList)}"></td>
                                        <td>
                                            <form th:action="@{/customers/customer-details/edit-machine}" method="get">
                                                <input type="hidden" name="machineId" th:value="${machine.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Edit" class="btn btn-danger btn-sm">
                                            </form>
                                        </td>
                                        <td>
                                            <div th:if="${machine.active eq true}">
                                                <form th:action="@{/customers/customer-details/disable-machine}"
                                                      method="post">
                                                    <input type="hidden" name="machineId" th:value="${machine.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <input type="submit" value="Disable" class="btn btn-danger btn-sm"
                                                           th:data-disable-machine="|Please confirm disabling machine: ${machine.type.name} ${machine.serialNumber}|"
                                                           onclick="if (!confirm(this.getAttribute('data-disable-machine'))) return false"/>
                                                </form>
                                            </div>
                                            <div th:if="${machine.active eq false}">
                                                <form th:action="@{/customers/customer-details/activate-machine}"
                                                      method="post">
                                                    <input type="hidden" name="machineId" th:value="${machine.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <input type="submit" value="Activate" class="btn btn-danger btn-sm"
                                                           th:data-activate-machine="|Please confirm activating machine: ${machine.type.name} ${machine.serialNumber}|"
                                                           onclick="if (!confirm(this.getAttribute('data-activate-machine'))) return false"/>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            <form th:action="@{/machines/machine-details}" method="get">
                                                <input type="hidden" name="machineId" th:value="${machine.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Details" class="btn btn-danger btn-sm">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body" style="max-width: 100%; overflow-y: auto">
                            <div class="row mb-3">
                                <div class="col-auto me-auto">
                                    <h6>Events</h6>
                                </div>
                                <div class="col-auto">
                                    <form th:action="@{/customers/customer-details/add-new-event}" method="get">
                                        <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                        <input type="submit" value="Add new event" class="btn btn-danger btn-sm">
                                    </form>
                                </div>
                            </div>
                            <table class="table table-sm table-hover table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <a>Type</a>
                                    </th>
                                    <th scope="col">
                                        <a>Title</a>
                                    </th>
                                    <th scope="col">
                                        <a>Main user</a>
                                    </th>
                                    <th scope="col">
                                        <a>Assisting user</a>
                                    </th>
                                    <th scope="col">
                                        <a>Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="event, i : ${customer.eventList}"
                                    th:if="${i.index}<6" th:style="${event.active} == false ? 'color: grey' : ''">
                                    <td th:text="${event.type}"></td>
                                    <td th:text="${event.title}"></td>
                                    <td th:text="${event.mainUser.nickname}"></td>
                                    <td th:text="${event.assistingUser.nickname}"></td>
                                    <td th:text="${#temporals.format(event.start, 'dd-MM-yyyy')}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#eventModal">
                                        More
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <a th:text="'All events: ' + ${#lists.size(customer.eventList)}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="eventModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="eventModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventModalLabel">All events</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-sm table-hover table-dark table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <a>Type</a>
                                        </th>
                                        <th scope="col">
                                            <a>Title</a>
                                        </th>
                                        <th scope="col">
                                            <a>Description</a>
                                        </th>
                                        <th scope="col">
                                            <a>Main user</a>
                                        </th>
                                        <th scope="col">
                                            <a>Assisting user</a>
                                        </th>
                                        <th scope="col">
                                            <a>Start</a>
                                        </th>
                                        <th scope="col">
                                            <a>End</a>
                                        </th>
                                        <th scope="col">
                                            <a>Edit</a>
                                        </th>
                                        <th scope="col">
                                            <a>Complete</a>
                                        </th>
                                        <th scope="col">
                                            <a>Details</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="event : ${customer.eventList}"
                                        th:style="${event.active} == false ? 'color: grey' : ''">
                                        <td th:text="${event.type}"></td>
                                        <td th:text="${event.title}"></td>
                                        <td th:text="${event.description}"
                                            style="max-width:100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis"
                                            th:title="${event.description}"></td>
                                        <td th:text="${event.mainUser.firstName + ' ' + event.mainUser.lastName}"></td>
                                        <td th:text="${event.assistingUser.firstName + ' ' + event.assistingUser.lastName}"></td>
                                        <td th:text="${#temporals.format(event.start, 'dd-MM-yyyy')}"></td>
                                        <td th:text="${#temporals.format(event.end, 'dd-MM-yyyy')}"></td>
                                        <td>
                                            <form th:action="@{/customers/customer-details/edit-event}" method="get">
                                                <input type="hidden" name="eventId" th:value="${event.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <div th:switch="${event.mainUser.id == currentUserId}">
                                                    <input th:case="true" type="submit" value="Edit"
                                                           class="btn btn-danger btn-sm">
                                                    <input th:case="false" rel="tooltip"
                                                           title="The event can be only edited by its creator"
                                                           type="button" value="Edit"
                                                           class="btn btn-secondary btn-sm disabled tooltip-button">
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <div th:if="${event.active eq true}">
                                                <form th:action="@{/customers/customer-details/complete-event}"
                                                      method="get">
                                                    <input type="hidden" name="eventId" th:value="${event.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <div th:switch="${event.mainUser.id == currentUserId}">
                                                        <input th:case="true" type="submit" value="Complete"
                                                               class="btn btn-danger btn-sm"
                                                               th:data-complete-event="|Please confirm completing event: ${event.title} planned on ${#temporals.format(event.start, 'dd-MM-yyyy')}. Comment after the vent is required, fill the next form.|"
                                                               onclick="if (!confirm(this.getAttribute('data-complete-event'))) return false"/>
                                                        <input th:case="false" type="button" value="Disable"
                                                               rel="tooltip"
                                                               class="btn btn-secondary btn-sm tooltip-button disabled"
                                                               title="Only creator of the event can complete it"/>
                                                    </div>
                                                </form>
                                            </div>
                                            <div th:if="${event.active eq false}">
                                                <form th:action="@{/customers/customer-details/activate-event}"
                                                      method="post">
                                                    <input type="hidden" name="eventId" th:value="${event.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <div th:switch="${event.mainUser.id == currentUserId}">
                                                    <input th:case="true" type="submit" value="Activate" class="btn btn-danger btn-sm"
                                                           th:data-activate-event="|Please confirm activating event: ${event.title} planned on ${#temporals.format(event.start, 'dd-MM-yyyy')}|"
                                                           onclick="if (!confirm(this.getAttribute('data-activate-event'))) return false"/>
                                                        <input th:case="false" type="button" value="Disable"
                                                               rel="tooltip"
                                                               class="btn btn-secondary btn-sm tooltip-button disabled"
                                                               title="Only creator of the event can activate it"/>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            <form th:action="@{/customer-details/event-details}" method="get">
                                                <input type="hidden" name="eventId" th:value="${event.id}"/>
                                                <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                <input type="submit" value="Details" class="btn btn-danger btn-sm">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm mb-3 me-0">
                    <div class="card h-100">
                        <div class="card-body" style="max-width: 100%; overflow-y: auto">
                            <div class="row mb-3">
                                <div class="col-auto me-auto">
                                    <h6>Interventions</h6>
                                </div>
                                <div class="col-auto">
                                    <form th:action="@{/customers/customer-details/add-new-intervention}" method="get">
                                        <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                        <input type="submit" value="Add new intervention" class="btn btn-danger btn-sm">
                                    </form>
                                </div>
                            </div>
                            <table class="table table-sm table-hover table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <a>Id</a>
                                    </th>
                                    <th scope="col">
                                        <a>Machine</a>
                                    </th>
                                    <th scope="col">
                                        <a>Serial number</a>
                                    </th>
                                    <th scope="col">
                                        <a>Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody th:each="machine : ${customer.machineList}">
                                <th:block th:each="inquiry : ${machine.inquiryList}">
                                    <tr th:each="intervention : ${inquiry.interventionList}"
                                        th:style="${intervention.active} == false ? 'color: grey' : ''">
                                        <td th:text="${intervention.id}"></td>
                                        <td th:text="${inquiry.machine.type.name}"></td>
                                        <td th:text="${inquiry.machine.serialNumber}"></td>
                                        <td th:text="${#temporals.format(intervention.start, 'dd-MM-yyyy')}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#interventionModal">
                                        More
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <a th:text="'All interventions: ???????????? ' + ${#lists.size(customer.contactPersonList)}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="interventionModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="interventionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="interventionModalLabel">All interventions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-sm table-hover table-dark table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <a>Id</a>
                                        </th>
                                        <th scope="col">
                                            <a>Machine</a>
                                        </th>
                                        <th scope="col">
                                            <a>Serial number</a>
                                        </th>
                                        <th scope="col">
                                            <a>Technician</a>
                                        </th>
                                        <th scope="col">
                                            <a>Assistant</a>
                                        </th>
                                        <th scope="col">
                                            <a>Assistant2</a>
                                        </th>
                                        <th scope="col">
                                            <a>Start date</a>
                                        </th>
                                        <th scope="col">
                                            <a>End date</a>
                                        </th>
                                        <th scope="col">
                                            <a>Confirmed</a>
                                        </th>
                                        <th scope="col">
                                            <a>Spare parts</a>
                                        </th>
                                        <th scope="col">
                                            <a>Edit</a>
                                        </th>
                                        <th scope="col">
                                            <a>Details</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tbody th:each="machine : ${customer.machineList}">
                                    <th:block th:each="inquiry : ${machine.inquiryList}">
                                        <tr th:each="intervention : ${inquiry.interventionList}"
                                            th:style="${intervention.active} == false ? 'color: grey' : ''">
                                            <td th:text="${intervention.id}"></td>
                                            <td th:text="${inquiry.machine.type.name}"></td>
                                            <td th:text="${inquiry.machine.serialNumber}"></td>
                                            <td th:text="${intervention.technician.firstName + ' ' + intervention.technician.lastName}"></td>
                                            <td th:text="${intervention.assistant ne null} ? ${intervention.assistant.firstName + ' ' + intervention.assistant.lastName} : '----'"></td>
                                            <td th:text="${intervention.assistant2 ne null} ? ${intervention.assistant2.firstName + ' ' + intervention.assistant2.lastName} : '----'"></td>
                                            <td th:text="${#temporals.format(intervention.start, 'dd-MM-yyyy')}"></td>
                                            <td th:text="${#temporals.format(intervention.end, 'dd-MM-yyyy')}"></td>
                                            <td th:text="${intervention.confirmed}"></td>
                                            <td th:text="${intervention.spareParts}"></td>
                                            <td>
                                                <form th:action="@{/customers/customer-details/edit-intervention}" method="get">
                                                    <input type="hidden" name="interventionId" th:value="${intervention.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <div th:switch="${currentUserPrivileges.service == true}">
                                                        <input th:case="true" type="submit" value="Edit"
                                                               class="btn btn-danger btn-sm">
                                                        <input th:case="false" rel="tooltip"
                                                               title="Interventions can be only edited by authorized users"
                                                               type="button" value="Edit"
                                                               class="btn btn-secondary btn-sm disabled tooltip-button">
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form th:action="@{/customer-details/intervention-details}" method="get">
                                                    <input type="hidden" name="interventionId" th:value="${intervention.id}"/>
                                                    <input type="hidden" name="customerId" th:value="${customer.id}"/>
                                                    <input type="submit" value="Details" class="btn btn-danger btn-sm">
                                                </form>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
</body>
</html>