<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Intervention details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" type="text/javascript"></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
</head>
<body>
<header>
    <div th:replace="user-zone/fragments/header :: header">
    </div>
</header>
<div class="container-fluid mt-2" th:style="${intervention.active == false ? 'color: gray' : ''}">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Inquiry id</h6>
                            </div>
                            <div class="col-sm-7 text-secondary" th:text="${intervention.inquiry.id}">
                            </div>
                            <div class="col-sm-1">
                                <form th:action="@{/inquiries/inquiry-details}"
                                      method="get">
                                    <input type="hidden" name="inquiryId" th:value="${intervention.inquiry.id}"/>
                                    <input type="submit" value=">"
                                           class="btn btn-danger btn-sm p-1">
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Customer</h6>
                            </div>
                            <div class="col-sm-7 text-secondary" th:text="${intervention.inquiry.customer.name}">
                            </div>
                            <div class="col-sm-1">
                                <form th:action="@{/customers/customer-details}"
                                      method="get">
                                    <input type="hidden" name="customerId"
                                           th:value="${intervention.inquiry.customer.id}"/>
                                    <input type="submit" value=">"
                                           class="btn btn-danger btn-sm p-1">
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Machine</h6>
                            </div>
                            <div class="col-sm-7 text-secondary"
                                 th:text="${intervention.inquiry.machine.type.name + ' s/n: ' + intervention.inquiry.machine.serialNumber}">
                            </div>
                            <div class="col-sm-1">
                                <form th:action="@{/machines/machine-details}"
                                      method="get">
                                    <input type="hidden" name="machineId"
                                           th:value="${intervention.inquiry.machine.id}"/>
                                    <input type="submit" value=">"
                                           class="btn btn-danger btn-sm p-1">
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Machine status</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${intervention.inquiry.machineStatus}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Type</h6>
                            </div>
                            <div class="col-sm-6 text-secondary" th:text="${intervention.inquiry.inquiryType}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Inquiry date</h6>
                            </div>
                            <div class="col-sm-6 text-secondary"
                                 th:text="${#temporals.format(intervention.inquiry.inquiryDate, 'dd-MM-yyyy')}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Description</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" th:text="${intervention.inquiry.description}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Comment</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" th:text="${intervention.inquiry?.comment}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Intervention id</h6>
                            </div>
                            <div class="col-sm-8 text-secondary" th:text="${intervention.id}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Technician</h6>
                            </div>
                            <div class="col-sm-7 text-secondary"
                                 th:text="${intervention.technician.firstName + ' ' + intervention.technician.lastName}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Assistant</h6>
                            </div>
                            <div class="col-sm-7 text-secondary"
                                 th:text="${intervention.assistant ne null} ? ${intervention.assistant.firstName + ' ' + intervention.assistant.lastName} : '----'">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Assistant 2</h6>
                            </div>
                            <div class="col-sm-7 text-secondary"
                                 th:text="${intervention.assistant2 ne null} ? ${intervention.assistant2.firstName + ' ' + intervention.assistant2.lastName} : '----'">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Intervention start</h6>
                            </div>
                            <div class="col-sm-6 text-secondary"
                                 th:text="${#temporals.format(intervention.start, 'dd-MM-yyyy HH:mm')}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Intervention end</h6>
                            </div>
                            <div class="col-sm-6 text-secondary"
                                 th:text="${#temporals.format(intervention.end, 'dd-MM-yyyy HH:mm')}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Notice</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" th:text="${intervention?.notice}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Spare parts</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" th:text="${intervention.spareParts}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0">Confirmed</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" th:text="${intervention.confirmed}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <form th:action="@{/interventions/intervention-details/edit-intervention}" method="get">
                                    <input type="hidden" name="interventionId" th:value="${intervention.id}"/>
                                    <div th:switch="${intervention.confirmed == true}">
                                        <input th:case="false" type="submit" value="Edit"
                                               class="btn btn-danger btn-sm">
                                        <input th:case="true" rel="tooltip"
                                               title="Confirmed intervention cannot be edited"
                                               type="button" value="Edit"
                                               class="btn btn-secondary btn-sm disabled tooltip-button">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form th:action="@{/interventions/intervention-details/confirm-intervention}" method="post">
                                    <input type="hidden" name="interventionId" th:value="${intervention.id}"/>
                                    <div th:switch="${intervention.confirmed == true}">
                                        <input th:case="false" type="submit" value="Confirm" class="btn btn-danger btn-sm"
                                               th:data-confirm-intervention="|Do You want to confirm intervention: Id ${intervention.id}. This change cannot be reversed|"
                                               onclick="if (!confirm(this.getAttribute('data-confirm-intervention'))) return false"/>
                                        <input th:case="true" rel="tooltip"
                                               title="Confirmed intervention cannot be removed"
                                               type="button" value="Confirm"
                                               class="btn btn-secondary btn-sm disabled tooltip-button">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form th:action="@{/interventions/intervention-details/remove-intervention}"
                                      method="post">
                                    <input type="hidden" name="interventionId" th:value="${intervention.id}"/>
                                    <input type="hidden" name="inquiryId" th:value="${intervention.inquiry.id}"/>
                                    <div th:switch="${intervention.confirmed == true}">
                                        <input th:case="false" type="submit" value="Remove" class="btn btn-danger btn-sm"
                                               th:data-remove-intervention="|Please confirm removing intervention: Id ${intervention.id}|"
                                               onclick="if (!confirm(this.getAttribute('data-remove-intervention'))) return false"/>
                                        <input th:case="true" rel="tooltip"
                                               title="Confirmed intervention cannot be removed"
                                               type="button" value="Remove"
                                               class="btn btn-secondary btn-sm disabled tooltip-button">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
</body>
</html>