.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.tooltip-button{
    pointer-events: auto !important;
}

.fc-event-main{
    font-size: .63vw !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.fc-daygrid-day-number {
    text-decoration: none;
}

a.fc-col-header-cell-cushion {
    text-decoration: none;
}

tr.hide-table-padding td {
    padding: 0;
}

.accordion-button {
    padding: 0 0 0 0;
    background-color: transparent;
    width: 50%;

}
.fc-day-today {
    background: #7a2b2b40 !important;
}

#red > * {
    background-color: #7a2b2b40;
}