
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="admin-zone/fragments/header :: header">
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Czy na pewno chcesz usunąć ${user.firstName} ${user.lastName}?</h6>
    </div>
    <input type="hidden" name="toRemoveId" value="${user.id}">

    <form method="post"
               modelAttribute="user" action="#" th:action="@{/admin/removeUser}" th:object="${confirmed}">
        <th:hidden path="id" />
        <button type="submit" value="yes" name="confirmed">TAK</button>
        <button type="submit" value="no" name="confirmed">NIE</button>
    </form>
</div>

</body>
</html>